<div class="home">
  <ul class="rooms">
    <li class="room" ng-repeat="room in home.rooms | orderBy: '$value'">{{room.$value}}</li>
  </ul>

  <button ng-click="home.addNewRoom()" class="btn btn-primary">Add Room</button>

  <div class="chat-section">
    <h3 style="text-align:center;">{{ home.currentRoom.name}}</h3>
    <div class="messages" ng-repeat="message in home.messages">
        <div class="username" style="text-align:center;">{{ message.username }}</div>
        <div class="timestamp" style="text-align:center;">{{ message.sentAt }}</div>
        <div classs="user-message" style="text-align:center;">{{ message.content}}</div>
</div>
