<div class="home">
  <div class="room-listing">
    <ul class="rooms">
      <li class="room" ng-repeat="room in home.rooms | orderBy: '$value'" ng-click="home.selectRoom(room)">{{room.$value}}</li>
    </ul>

    <button ng-click="home.addNewRoom()" class="btn btn-primary">Add Room</button>
  </div>

  <div class="room-content">
    <h3>{{home.selectedRoom.$value}}</h3>

    <div class="message-list">
      <div class="message" ng-repeat="message in home.selectedRoomMessages"><b>{{message.username}}</b>: {{message.content}}</div>
      <div class="timestamp">{{message.sentAt | date : "shortTime"}}</div>
    </div>
  </div>

    <div class="message-field">
        <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="home.newMessage.content" style="width:500px;">
        <button class="btn-new-message" type="button" ng-click="home.sendMessage()">Send message</button>
    </div>
</div>
